Repository stevecochrane/stevecochrane.com: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write

.lintstagedrc.json:

{
	"*.css": "stylelint",
	"*.{css,html,js,json}": "prettier --write"
}

Delete older flex styles and consolidate what is left
  src/css/main.css
Due: stylelint, prettier --write

Add named columns for outer and inner padding, and middle
  src/css/main.css
Due: stylelint, prettier --write

Adjust whitespace
  src/css/main.css
Due: stylelint, prettier --write

Update cssnano to latest
  package-lock.json
  package.json
Due: prettier --write

Remove middle named column from Wrapper, move in to Header
  src/css/main.css
Due: stylelint, prettier --write

Add named columns for main and sub areas
  src/css/main.css
Due: stylelint, prettier --write

Fix source order inflexibility
  src/css/main.css
Due: stylelint, prettier --write

Use named columns for intro message
  src/css/main.css
Due: stylelint, prettier --write

Use numbers for named padding columns
  src/css/main.css
Due: stylelint, prettier --write

Remove grid rows from summary items
  src/css/main.css
Due: stylelint, prettier --write

Increase spacing above summary and body
  src/css/main.css
Due: stylelint, prettier --write

Decrease spacing above summary and body for small screens
  src/css/main.css
Due: stylelint, prettier --write

Use wider columns for body and summary below large breakpoint
  src/css/main.css
Due: stylelint, prettier --write

Update outdated sentence in description of Pixel Art Scrapbook
  src/data/projects/pixel-art-scrapbook.json
Due: prettier --write

[7.11.0] Add dark mode theme, use CSS Grid, and more
  package-lock.json
  package.json
Due: prettier --write

Remove line from README about wanting to use CSS Grid now that it has been implemented
  README.md
Due: none

Remove AWS deploy script
  .gitignore
  README.md
  package.json
Due: prettier --write

Use full path for webfonts in .gitignore
  .gitignore
Due: none

Use level 2 headings rather than skip straight to level 3
  README.md
Due: none

Several updates to README
  README.md
Due: none

README edit for consistency
  README.md
Due: none

Add text-wrap pretty for body copy
  src/css/main.css
Due: stylelint, prettier --write

Switch from bottom border on links to underline with small amount of spacing
  src/css/main.css
Due: stylelint, prettier --write
