Repository stevecochrane/stevecochrane.com: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write

[7.9.0] Add Tableau Public Recent Activity project
  package-lock.json
  package.json
Due: prettier --write

Remove Twitter meta element
  src/index.njk
Due: none

Update to Node 20
  .nvmrc
Due: none

Update caniuse database
  package-lock.json
Due: prettier --write

Simplify postcss-preset-env now that nesting-rules is stage 2
  .eleventy.js
Due: prettier --write

Replace postcss-preset-env with just postcss-custom-media
  .eleventy.js
  package-lock.json
  package.json
Due: prettier --write

Use Logical Properties and Values for all styles
  src/css/main.css
Due: stylelint, prettier --write

Inline font-family variable
  src/css/main.css
Due: stylelint, prettier --write

Update README to remove mention of postcss-preset-env
  README.md
Due: none

Convert from 1 rem being 10px to 1 rem being 16px
  src/css/main.css
Due: stylelint, prettier --write

Update copy for Recent Activity
  src/data/projects/recent-activity.json
Due: prettier --write

Fix bug with button padding
  src/css/main.css
Due: stylelint, prettier --write

[7.10.0] Update Recent Activity section to include second milestone
  package-lock.json
  package.json
Due: prettier --write

Update tailwindcss-logical description with current usage numbers
  src/data/projects/tailwindcss-logical.json
Due: prettier --write

Update color-link-border to use relative color syntax
  src/css/main.css
Due: stylelint, prettier --write

Replace 0to255.com usage with color-mix()
  src/css/main.css
Due: stylelint, prettier --write

Remove inconsistency with postcss-custom-media version number
  package-lock.json
  package.json
Due: prettier --write

Convert color-mix usage to hsl for better lightening and darkening
  src/css/main.css
Due: stylelint, prettier --write

Remove mention of recent CSS advancements in color styles as this is now done
  README.md
Due: none

Replace mix of rgb and hsl functions with all oklch
  src/css/main.css
Due: stylelint, prettier --write

Remove normalize.css as it is no longer necessary
  .eleventy.js
  .stylelintrc.json
  package-lock.json
  package.json
  src/css/normalize.css
  src/index.njk
Due: stylelint, prettier --write

Desaturate color-palette-tertiary
  src/css/main.css
Due: stylelint, prettier --write

Remove prettier
  .lintstagedrc.json
  .prettierrc.json
  package-lock.json
  package.json
Due: prettier --write

Remove stylelint, lint-staged and husky
  .husky/pre-commit
  .lintstagedrc.json
  .stylelintrc.json
  README.md
  package-lock.json
  package.json
Due: prettier --write

Remove browserslist
  .browserslistrc
Due: none

Now that prettier is gone I can make whitespace... prettier
  src/css/main.css
Due: stylelint, prettier --write

Add new .nova directory to .gitignore
  .gitignore
Due: none

Set CSS directory to be watched for changes
  .eleventy.js
Due: prettier --write

Add rudimentary dark mode color scheme for main content area
  src/css/main.css
Due: stylelint, prettier --write

Switch from color-scheme to prefers-color-scheme query for better browser support
  src/css/main.css
Due: stylelint, prettier --write

Adjust colors, add slight red hue to background in dark mode
  src/css/main.css
Due: stylelint, prettier --write

Switch to inverted colors for dark mode
  src/css/main.css
Due: stylelint, prettier --write

Use content color for overscroll, improve gradient for smaller screens
  src/css/main.css
Due: stylelint, prettier --write

Switch back to using light-dark for color variables
  src/css/main.css
Due: stylelint, prettier --write

Revert "Switch back to using light-dark for color variables"
  src/css/main.css
Due: stylelint, prettier --write

Remove Vidcaster Video Player project
  src/data/index.js
  src/data/projects/vidcaster-video-player.json
Due: prettier --write

Remove image size attribute now that all images are full size
  src/data/projects/andy-wowhol.json
  src/data/projects/blizzcon-virtual-ticket.json
  src/data/projects/diablo-20th-anniversary.json
  src/data/projects/diablo-3-infrastructure.json
  src/data/projects/diablo-4.json
  src/data/projects/drupal-deprecation.json
  src/data/projects/html-reference-web-application.json
  src/data/projects/pixel-art-scrapbook.json
  src/data/projects/recent-activity.json
  src/data/projects/rise-of-the-necromancer.json
  src/data/projects/tabid-integration.json
  src/data/projects/tailwindcss-logical.json
  src/data/projects/vidcaster-theme-editor.json
  src/data/projects/wow-legion.json
  src/data/projects/wow-redesign.json
  src/index.njk
Due: prettier --write

Use grid for mobile layout
  src/css/main.css
  src/index.njk
Due: stylelint, prettier --write

Add text-wrap balance for centered project titles
  src/css/main.css
Due: stylelint, prettier --write

Remove unnecessary Wrapper-inner element
  src/css/main.css
  src/index.njk
Due: stylelint, prettier --write

Path conditions:
  stylelint: any of: *.css
  prettier --write: any of: *.{css,html,js,json}
